@model ChangePasswordViewModel

<div class="modal fade" id="change-password-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" id="change-password-content">
            <div class="modal-header">
                <fieldset>
                    <legend>
                        &nbsp;CHANGE PASSWORD
                    </legend>
                </fieldset>
            </div>
            <div class="modal-body">
                <form id="change-password-form" asp-controller="Users" asp-action="ChangePassword">
                    <div class="form-group">
                        <label>Current Password:</label>
                        <input asp-for="CurrentPassword" class="form-control" required />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>New Password:</label>
                        <input asp-for="NewPassword" class="form-control" required />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Confirm Password:</label>
                        <input asp-for="ConfirmPassword" class="form-control" required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </form>
            </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        &nbsp;Close
                    </button>
                    <button class="btn btn-success" data-save="modal">
                        <i class="fa fa-pencil"></i>
                        &nbsp;Change
                    </button>
                </div>
        </div>
    </div>
</div>

<script>
    var form = $('#change-password-form');
    form.removeData('validator');
    form.removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse(form);
</script>