@model PatientFormModel
@{
    var code = Model.Code;
    var accept = "accept-modal";

    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
    var userFacility = int.Parse(User.FindFirstValue("Facility"));
    var _userFacility = User.FindFirstValue("Facility");
    var UserName = User.FindFirstValue(ClaimTypes.Surname) + " " + User.FindFirstValue(ClaimTypes.GivenName);
    string[] userName = User.FindFirstValue(ClaimTypes.GivenName).Split();
}
<div class="modal-content" id="patient-form-modal">
    @await Html.PartialAsync("~/Views/Shared/_patientForm.cshtml", Model)
    <!-- REFER FOOTER -->
    <div class="modal-footer justify-content-end">
        <!-- CLOSE -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- CALL REQUEST -->
        <button id="call-request" type="button" data-toggle="modal" data-target="#call-alert-modal" class="btn btn-success">
            <i class="fa fa-phone"></i>
            Call Request
        </button>
        <!-- RECOMMEND TO REDIRECT -->
        <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#redirect-alert-modal">
            <i class="fa fa-line-chart"></i>
            Recommend to Redirect
        </button>
        <!-- ACCEPT -->
        <button class="btn btn-success" id="accept-btn" value="@code" type="button" data-toggle="modal" data-target="#@accept">
            <i class="fa fa-check"></i>
            Accept
        </button>
    </div>
</div>
<script>
    $('.modal').on('hidden.bs.modal', function () {
        var seenCtr = $('#seen_@Model.Code').html();
        var add = 1;
        if (seenCtr == '') {
            add = parseInt(seenCtr) + 1;
        }
        $('#seen_@Model.Code').html(add);
    });


    var acceptBtn = $('#accept-btn');
    var yesBtn = $('#redirect-yes');
    var redAlert = $('#redirect-alert-modal');
    acceptBtn.on('click', function () {
        var patientCode = this.value;
        var url = "/Remarks/AcceptedRemark?code=" + patientCode;
        console.log(url);
        $("#accept_content").html("Loading..............");
        $.get(url, function (result) {
            $("#accept_content").html(result);
        })
    });

    yesBtn.on('click', function () {
        redAlert.modal('hide');
        var url = "/Remarks/RejectRemarks?code=" + '@code';
        $("#redirect-content").html("Loading..............");
        $.get(url, function (result) {
            $("#redirect-content").html(result);
        })
    })

    $('#call-request').on('click', function () {
        CallRequest('@code');
    })


</script>


