@model PatientForm

<div class="modal-content" id="normal-form-modal">
    @await  Html.PartialAsync("~/Views/Shared/_patientForm.cshtml", Model)

    <div class="modal-footer fa-pull-right">
        <a asp-controller="Report" asp-action="NormalFormPdf" asp-route-code="@Model.Code" target="_blank" class="btn-refer-normal btn btn-success btn-flat">
            <i class="fa fa-print"></i>
            &nbsp;Print Form
        </a>
        <button class="btn btn-default btn-flat" data-dismiss="modal">
            <i class="fa fa-times"></i>
            &nbsp;Close
        </button>
    </div>
</div>
