@model PregnantFormModel

<div class="modal-content" id="print-pregnant-form-modal">
    <div class="title-form">BEmONC/ CEmONC REFERRAL FORM</div>
    <div class="modal-body printablePregnantForm">
        @await Html.PartialAsync("~/Views/Shared/_pregnantForm.cshtml", Model)
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer justify-content-end">
        <a asp-controller="Report" asp-action="PregnantFromPdf" asp-route-code="@Model.Code" target="_blank" class="btn-refer-pregnant btn btn-success ">
            <i class="fa fa-print"></i>
            &nbsp;Print Form
        </a>
        <button class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-times"></i>
            &nbsp;Close
        </button>
    </div>
</div>