@model PatientForm

    <div class="modal fade" id="normal-form-modal" tabindex="-1" role="dialog" aria-labelledby="normalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                @await  Html.PartialAsync("~/Views/Shared/_patientForm.cshtml", Model)

                <div class="modal-footer fa-pull-right">
                    <a asp-controller="Report" asp-action="NormalFormPdf" asp-route-code="@Model.Code" target="_blank" class="btn-refer-normal btn btn-success btn-flat">
                        <i class="fa fa-print"></i>
                        &nbsp;Print Form
                    </a>
                    <button class="btn btn-default btn-flat" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        &nbsp;Close
                    </button>
                </div>
            </div>
        </div>
    </div>
