@model Patient

@{
    ViewData["Title"] = "Add new Patient";
}

<div class="content">
    <div class="container">
        <div class="row">
            <!-- ADD NEW PATIENT CARD START -->
            <div class="col-md-9">
                <form asp-action="Add" method="post">
                    <div class="card card-outline">
                        <!-- CARD HEADER -->
                        <div class="card-header with-border">
                            <h3>
                                Add New Patient
                            </h3>
                        </div>
                        <!-- CARD BODY -->
                        <div class="card-body">
                            <!-- PATIENT INFO TABLE -->
                            <!-- TABLE START -->
                            <input type="hidden" name="_token" value="" autocomplete="off" />
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" border="1">
                                    <tbody>
                                        <!-- PHILHEALTH STATUS -->
                                        <tr>
                                            <td class="table-add">PhilHealth Status:</td>
                                            <td>
                                                <select id="phicStatus" asp-for="PhicStatus" class="form-control" asp-items="ViewBag.PhicStatus" name="PhicStatus" required>
                                                </select>
                                            </td>
                                        </tr>
                                        <!-- PHILHEALTH ID -->
                                        <tr>
                                            <td class="table-add">
                                                PhilHealth ID:<br />
                                                <small class="text-info">
                                                    <em>(If applicable)</em>
                                                </small>
                                            </td>
                                            <td>
                                                <input id="phicId" asp-for="PhicId" type="text" class="form-control" disabled autocomplete="off" />
                                            </td>
                                        </tr>
                                        <!-- FIRST NAME -->
                                        <tr>
                                            <td class="table-add">First Name:</td>
                                            <td>
                                                <input asp-for="FirstName" type="text" class="form-control" required autocomplete="off" />
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </td>
                                        </tr>
                                        <!-- MIDDLE NAME -->
                                        <tr>
                                            <td class="table-add">Middle Name:</td>
                                            <td>
                                                <input asp-for="MiddleName" type="text" class="form-control" required autocomplete="off" />
                                                <span asp-validation-for="MiddleName" class="text-danger"></span>
                                            </td>
                                        </tr>
                                        <!-- LAST NAME -->
                                        <tr>
                                            <td class="table-add">Last Name:</td>
                                            <td>
                                                <input asp-for="LastName" type="text" class="form-control" required autocomplete="off" />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </td>
                                        </tr>
                                        <!-- BIRTHDATE NAME -->
                                        <tr>
                                            <td class="table-add">Birthdate:</td>
                                            <td>
                                                <input asp-for="DateOfBirth" type="date" class="form-control" required autocomplete="off" />
                                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                            </td>
                                        </tr>
                                        <!-- GENDER -->
                                        <tr>
                                            <td class="table-add">Sex:</td>
                                            <td>
                                                <div>
                                                    <input asp-for="Sex" type="radio" value="Male" id="man" required autocomplete="off" />&nbsp;Male<br />
                                                </div>
                                                <div>
                                                    <input asp-for="Sex" type="radio" value="Female" id="woman" required autocomplete="off" />&nbsp;Female<br />
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- CIVIL STATUS -->
                                        <tr>
                                            <td class="table-add">Civil Status:</td>
                                            <td>
                                                <select asp-for="CivilStatus" class="form-control" asp-items="ViewBag.CivilStatus" required></select>
                                                <span asp-validation-for="CivilStatus" class="text-danger"></span>
                                            </td>
                                        </tr>
                                        <!--MUNICIPALITY/CITY -->
                                        <tr>
                                            <td class="table-add">Municipality/City:</td>
                                            <td>
                                                <select id="muncityFilter" asp-for="MuncityId" class="form-control" asp-items="ViewBag.MuncityId" required>
                                                    <option value="">Select City/Municipality...</option>
                                                </select>
                                                <span asp-validation-for="MuncityId" class="text-danger"></span>
                                            </td>
                                        </tr>
                                        <!--  BARANGAY -->
                                        <tr>
                                            <td class="table-add" id="barangay-label">Barangay:</td>
                                            <td>
                                                <select id="barangay" asp-for="BarangayId" class="form-control" required>
                                                    <option value="">Select Barangay...</option>
                                                </select>
                                                <span asp-validation-for="BarangayId" class="text-danger"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- TABLE END -->
                        </div>
                        <!-- CARD BODY END -->
                        <div class="card-footer with-border">
                            <!-- CARD FOOTER -->
                            <div class="fa-pull-right">
                                <!-- BACK BUTTON -->
                                <a href="#" class="btn btn-sm btn-default">
                                    <i class="fa fa-arrow-left"></i>
                                    &nbsp;Back
                                </a>
                                <!-- SUMBIT BUTTON-->
                                <button type="submit" class="btn btn-sm btn-success">
                                    <i class="far fa-paper-plane"></i>
                                    &nbsp;Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <partial name="~/Views/Shared/PartialViews/_MainMenuPartial.cshtml" />
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#submitBtn").submit(function () {
            $('form').preventDoubleSubmission();
        });
    });

    $("#phicStatus").change(function () {
        if ($("#phicStatus").val() != "none") {
            $("#phicId").removeAttr("disabled");
        }
        else {
            $("#phicId").attr("disabled", "disabled");
            $("#phicId").val("");
        }
    });

    jQuery.fn.preventDoubleSubmission = function () {
        $(this).on('submit'), function (e) {
            var $form = $(this);

            if ($form.data('submitted') == true) {
                e.preventDefault();
            } else {
                $form.data('submitted', true);
            }
        };

        return this;
    };
</script>

