@model PatientModel

<div class="modal-content" id="update-modal">
    <form asp-action="Update">
        <input type="hidden" asp-for="Id" />
        <fieldset>
            <legend>
                <i class="fa fa-pencil"></i>&nbsp;
                Update Patient
            </legend>
        </fieldset>
        <div class="modal-body">
            <div class="form-group">
                <label>PhilHealth Status:</label>
                <select class="form-control" id="phicStatus" asp-for="PhicStatus" asp-items="ViewBag.PhicStatus" required>
                </select>
                <span class="text-danger" asp-validation-for="PhicStatus"></span>
            </div>
            <div class="form-group">
                <label>PhilHealth ID:</label>
                <input type="text" id="phicId" class="form-control" asp-for="PhicId" autofocus>
                <span class="text-danger" asp-validation-for="PhicId"></span>
            </div>
            <div class="form-group">
                <label>First Name:</label>
                <input type="text" class="form-control" asp-for="Fname" required>
                <span class="text-danger" asp-validation-for="Fname"></span>
            </div>
            <div class="form-group">
                <label>Middle Name:</label>
                <input type="text" class="form-control" asp-for="Mname" required>
                <span class="text-danger" asp-validation-for="Mname"></span>
            </div>
            <div class="form-group">
                <label>Last Name :</label>
                <input type="text" class="form-control" asp-for="Lname" required>
                <span class="text-danger" asp-validation-for="Lname"></span>
            </div>
            <div class="form-group">
                <label>Birth Date :</label>
                <input type="date" class="form-control" asp-for="DateOfBirth" required>
                <span class="text-danger" asp-validation-for="DateOfBirth"></span>
            </div>
            <div class="form-group">
                <label>Sex:</label>
                <select class="form-control" asp-for="Sex" asp-items="ViewBag.Sex" required>
                </select>
                <span class="text-danger" asp-validation-for="Sex"></span>
            </div>
            <div class="form-group">
                <label>Civil Status:</label>
                <select class="form-control" asp-for="CivilStatus" asp-items="ViewBag.CivilStatus" required>
                </select>
                <span class="text-danger" asp-validation-for="CivilStatus"></span>
            </div>
            <!-- MUNCITY -->
            <div class="form-group">
                <label>Municipality:</label>
                <select class="form-control" id="muncity-filter" asp-for="MuncityId" asp-items="ViewBag.Muncities" onchange="MuncityOnChange($(this).val());">
                    <option value="">Select City/Municipality</option>
                </select>
                <span class="text-danger" asp-validation-for="MuncityId"></span>
            </div>
            <!-- BARANGAY -->
            <div class="form-group">
                <label>Barangay:</label>
                <select class="form-control" id="barangay-filter" asp-for="BarangayId" asp-items="ViewBag.Barangays">
                    <option value="">Select Barangay</option>
                </select>
                <span class="text-danger" asp-validation-for="BarangayId"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="fa fa-times"></i>&nbsp;
                Cancel
            </button>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check"></i>&nbsp;
                Save
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#phicStatus").val() == "None") {
            $("#phicId").attr("disabled", "disabled");
        }
        $("#phicStatus").change(function () {
            if ($("#phicStatus").val() != "none") {
                $("#phicId").removeAttr("disabled");
            }
            else {
                $("#phicId").attr("disabled", "disabled");
                $("#phicId").val("");
            }
        });

        $('#muncity-filter').select2({
            theme: "bootstrap4"
        });
        $('#barangay-filter').select2({
            theme: "bootstrap4"
        });
    })
</script>