@model RemarksViewModel

<div class="modal fade" id="cancel-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form asp-action="CancelRemark">
                <div class="modal-header">
                    <h4>
                        <i class="fa fa-user-times"></i>
                        Cancel Referral
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <input type="hidden" asp-for="Code" value="@ViewBag.Code" />
                    </div>
                    <div class="">
                        <textarea asp-for="Remarks" placeholder="Reason for Cancellation" class="form-control" rows="5" required></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
