

<div class="card card-danger card-green">
    <div class="card-header">
        <h3 class="card-title">Main Menu</h3>
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer">
        <input type="text" required placeholder="Type Message..." />
        <button class="btn btn-flat btn-success" type="submit">Send</button>
    </div>

</div>
