@model TravelViewModel

<div class="modal fade" id="travel-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form asp-action="Travel" method="post">
                <div class="modal-header">
                    <h4>
                        <i class="fa fa-exclamation-triangle"></i>
                        &nbsp;Mode of Transportation
                    </h4>
                </div>
                <div class="modal-body" id="travel-body">
                    <input type="hidden" name="TrackingId" value="@ViewBag.TrackingId" autocomplete="off">
                    <select class="form-control" id="transpo" asp-for="TranspoId" asp-items="ViewBag.Transpo">
                    </select><br>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">
                            <i class="fa fa-times"></i> Close
                        </button>
                        <button type="submit" class="btn btn-success btn-sm">
                            <i class="fa fa-check"></i> Submit
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var other = $('#transpo').val();
    $('#transpo').on('change', function () {
        if ($('#transpo').val() == '5') {
            $('#travel-body').append('<input class="form-control" id="other" name="Other" placeholder="Type the issue here.." required>');
        }
        else {
            $('#other').remove();
        }
    })
</script>