@model IEnumerable<SeenCallViewModel>


<div class="modal fade" id="seen-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>
                    <i class="fa fa-user-md"></i>
                    &nbsp;SEEN BY:
                </h4>
            </div>
            <div class="modal-body">
                @foreach (var item in Model)
                {
                    <div class="list-group">
                        <a href="#" class="list-group-item clearfix">
                            <span class="title-info">@item.MdName</span>
                            <br>
                            <small class="text-primary">
                                Seen: @item.SeenDate.ToString("MMMM dd, yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)
                            </small>
                            <br>
                            <small class="text-success">
                                Contact: @item.MdContact
                            </small>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>