<div class="card card-success">
    <div class="card-header card-outline">
        <h4 class="card-title">
            Links
        </h4>
    </div>
    <div class="card-body">
        <div class="list-group">
            <a class="list-group-item list-group-horizontal-sm link-black" asp-controller="Admin" asp-action="SupportUsers">
                Manage Users
                <span class="fa-pull-right">
                    <i class="fa fa-users"></i>
                </span>
            </a>
            <a class="list-group-item link-black" asp-controller="Admin" asp-action="Login">
                Login As
                <span class="fa-pull-right">
                    <i class="fa fa-sign-in-alt"></i>
                </span>
            </a>
        </div>
    </div>
</div>