<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Other Links</h3>
    </div>

    <div class="card-body">
        <div class="list-group">
            <a href="http://203.177.67.126/doh/referral/mcc/report/users" class="list-group-item clearfix" title="Amio Community Primary Hospital">
                Amio Community Primary Hospi...
                <span class="pull-right">
                    <i class="fa fa-circle text-danger"></i>
                </span>
            </a>
            <a class="list-group-item link-black" asp-controller="Account" asp-action="Logout">
                Logout
                <span class="fa-pull-right">
                    <i class="fa fa-sign-out-alt"></i>
                </span>
            </a>
        </div>
    </div>
</div>