<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Other Links</h3>
    </div>

    <div class="card-body">
        <div class="list-group">
            <a class="list-group-item link-black" asp-action="OnlineUsersDepartment">
                Generate Report
                <span class="fa-pull-right">
                    <i class="fa fa-chart-line"></i>
                </span>
            </a>
            <a class="list-group-item link-black" asp-controller="Account" asp-action="Logout">
                Logout
                <span class="fa-pull-right">
                    <i class="fa fa-sign-out-alt"></i>
                </span>
            </a>
        </div>
    </div>
</div>