<div class="card card-success">
    <div class="card-header card-outline">
        Links
    </div>
    <div class="card-body">
        <div class="list-group">
            <a class="list-group-item link-black" asp-controller="Support" asp-action="ManageUsers">
                Manage Users
                <span class="fa-pull-right">
                    <i class="fa fa-users"></i>
                </span>
            </a>
            <a class="list-group-item link-black" asp-controller="Support" asp-action="DailyUsers">
                Generate Report
                <span class="fa-pull-right">
                    <i class="fa fa-chart-line"></i>
                </span>
            </a>
        </div>
    </div>
</div>