@model SwitchUserModel

<div class="modal-content" id="switch-user-modal">
    <div class="modal-header">
        <h4><i class="fa fa-user-md"></i> Change Login</h4>
    </div>
    <div class="modal-body" style="padding-bottom:5px">
        <form asp-controller="Account" asp-action="SwitchUser" method="post" id="switch-user-form">
            <div class="form-group">
                <label style="padding: 0px;">User</label>
                <select class="form-control select2" asp-items="ViewBag.Users" asp-for="Id" required>
                </select>
            </div>
            <div class="form-group">
                <label style="padding: 0px;">Password</label>
                <input class="form-control" type="password" asp-for="Password" autocomplete="on" required>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" data-action="small_modal" data-save="modal">
            <i class="fa fa-sign-in"></i> Login
        </button>
    </div>
</div>

<script>
    var form = $('#switch-user-form');
    form.removeData('validator');
    form.removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse(form);
    $('.select2').select2({
        theme: 'bootstrap4'
    });
</script>
