<div class="header" style="background-color:#59ab91;padding:15px;">
    <div class="container">
        <img src="http://203.177.67.126/dummy/referral/resources/img/referral_2019.png" class="img-responsive">
    </div>
</div>