

    <ul class="navbar-nav">
        <!-- DASHBOARD -->
        <li class="">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <i class="fa fa-home"></i>
                &nbsp;Dashboard
            </a>
        </li>
        <!-- PATIENTS-->
        <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link " href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-users"></i>
                &nbsp;Patients
            </a>
            <ul class="dropdown-menu">
                <!-- LIST OF PATIENTS -->
                <li>
                    <a class="dropdown-item" asp-controller="ViewPatients" asp-action="ListPatients">
                        <i class="fa fa-table"></i>
                        &nbsp;List of Patients
                    </a>
                </li>
                <!-- DIVIDER -->
                <li class="dropdown-divider"></li>
                <!-- ACCEPTED PATIENTS -->
                <li>
                    <a class="dropdown-item" asp-controller="ViewPatients" asp-action="Accepted">
                        <i class="fa fa-user-plus"></i>
                        &nbsp;Accepted Patients
                    </a>
                </li>
                <!-- DISCHARGED/TRANSFERED PATIENTS -->
                <li>
                    <a class="dropdown-item" asp-controller="ViewPatients" asp-action="Discharged">
                        <i class="fa fa-ambulance"></i>
                        &nbsp;Discharged/Transfered Patients
                    </a>
                </li>
                <!-- CANCELLED PATIENTS -->
                <li>
                    <a class="dropdown-item" asp-controller="ViewPatients" asp-action="Cancelled">
                        <i class="fa fa-user-times"></i>
                        &nbsp;Cancelled Patients
                    </a>
                </li>
                <!-- ARCHIVED PATIENTS -->
                <li>
                    <a class="dropdown-item" asp-controller="ViewPatients" asp-action="Archived">
                        <i class="fa fa-archive"></i>
                        &nbsp;Archived Patients
                    </a>
                </li>
                <!-- DIVIDER -->
                <li class="dropdown-divider"></li>
                <!-- TRACK PATIENTS -->
                <li>
                    <a class="dropdown-item" asp-controller="ViewPatients" asp-action="Track">
                        <i class="fa fa-chart-line"></i>
                        &nbsp;Track Patients
                    </a>
                </li>

            </ul>
        </li>
        <!-- REFERRAL -->
        <li class="dropdown">
            <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-print"></i>
                &nbsp;Referral
                <span class="badge badge-bg">
                    <span class="numberNotif"></span>
                    &nbsp;New
                </span>
            </a>
            <ul class="dropdown-menu">
                <!-- INCOMING -->
                <li>
                    <a class="dropdown-item" asp-controller="ViewPatients" asp-action="Incoming">
                        <i class="fa fa-ambulance"></i>
                        &nbsp;Incoming
                    </a>
                </li>
                <!-- REFERRED PATIENTS  -->
                <li>
                    <a class="dropdown-item" asp-controller="ViewPatients" asp-action="Referred">
                        <i class="fas fa-user"></i>
                        &nbsp;Referred Patients
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <!-- INCOMING REFERRAL REPORT -->
                <li>
                    <a class="dropdown-item" asp-controller="Report" asp-action="IncomingReport">
                        <i class="fas fa-sign-in-alt"></i>
                        &nbsp;Incoming Referral Report
                    </a>
                </li>
                <!-- OUTGOING REFERRAL REPORT -->
                <li>
                    <a class="dropdown-item" asp-controller="Report" asp-action="OutgoingReport">
                        <i class="fa fa-sign-out-alt"></i>
                        &nbsp;Outgoing Referral Report
                    </a>
                </li>
            </ul>
        </li>
        <!-- WHO'S ONLINE -->
        <li class="nav-item">
            <a class="nav-link" asp-controller="Users" asp-action="WhosOnline">
                <i class="nav-icon fa fa-user-md"></i>
                &nbsp;Who's Online
            </a>
        </li>
        <!-- SETTINGS -->
        <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" href="#resetPasswordModal" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i>
                &nbsp;Settings
            </a>
            <ul class="dropdown-menu">
                <!-- CHANGE PASSWORD -->
                <li>
                    <a class="dropdown-item" data-toggle="ajax-modal" data-target="#change-password-modal" data-url="@Url.Action("ChangePassword","Users")">
                        <i class="fa fa-key"></i>
                        &nbsp;Change Password
                    </a>
                </li>
                <!-- CHANGE LOGIN STATUS -->
                <li>
                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#login-status-modal">
                        <i class="fa fa-user-md"></i>
                        &nbsp;Change Login Status
                    </a>
                </li>
                <!-- DIVIDER -->
                <li class="dropdown-divider"></li>
                <!-- SWITCH USER -->
                <li>
                    <a href="#" class="dropdown-item" data-toggle="ajax-modal" data-target="#switch-user-modal" data-url="@Url.Action("SwitchUser","Account")">
                        <i class="fa fa-users"></i>
                        &nbsp;Switch User
                    </a>
                </li>
                <!-- LOGOUT -->
                <li>
                    <a class="dropdown-item" data-target="modal" asp-controller="Account" asp-action="Logout">
                        <i class="fa fa-sign-out-alt"></i>
                        &nbsp;Logout
                    </a>
                </li>
                <!-- BACK AS ADMIN-->
                @if (User.FindFirstValue("RealRole").Equals("admin"))
                {
                    <li>
                        <a class="dropdown-item" data-target="modal" asp-controller="Account" asp-action="BackAsAdmin">
                            <i class="fa fa-user-secret"></i>
                            &nbsp;Back as Admin
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
