<ul class="navbar-nav">
    <!-- DASHBOARD -->
    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" asp-area="" asp-controller="MedicalCenterChief" asp-action="MccDashboard">
            <i class="fa fa-home"></i>
            &nbsp;Dashboard
        </a>
    </li>
    <!-- REPORT -->
    <li href="" class="nav-item dropdown d-none d-sm-inline-block">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-print"></i>
            &nbsp;Manage
        </a>
        <ul class="dropdown-menu">
            <!-- ONLINE DOCTORS-->
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="MedicalCenterChief" asp-action="OnlineUsersDepartment">
                    <i class="fa fa-users"></i>
                    &nbsp;Online Department
                </a>
            </li>
            <!-- INCOMING REFERRALS -->
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="MedicalCenterChief" asp-action="MccIncoming">
                    <i class="fa fa-chart-line"></i>
                    &nbsp;Incoming Referral
                </a>
            </li>
            <!-- REFERRAL TIMEFRAME -->
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="MedicalCenterChief" asp-action="TimeFrame">
                    <i class="far fa-calendar"></i>
                    &nbsp;Referral Time Frame
                </a>
            </li>
            <!-- CONSOLIDATED -->
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="MedicalCenterChief" asp-action="ConsolidatedMcc">
                    <i class="far fa-file-archive"></i>
                    &nbsp;Consolidated
                </a>
            </li>
        </ul>
    </li>
    <!-- TRACK -->
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Transactions" asp-action="Track">
            <i class="nav-icon fa fa-chart-line"></i>
            &nbsp;Track
        </a>
    </li>
    <!-- WHOS ONLINE -->
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="WhosOnline">
            <i class="nav-icon fa fa-user-md"></i>
            &nbsp;Who's Online
        </a>
    </li>
    <!-- SETTINGS -->
    <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" href="#resetPasswordModal" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i>
            &nbsp;Settings
        </a>
        <ul class="dropdown-menu">
            <!-- CHANGE PASSWORD -->
            <li>
                <a class="dropdown-item"
                   data-toggle="ajax-modal"
                   data-target="#small_modal"
                   data-action="#small_content"
                   data-url="@Url.Action("ChangePassword","Users")"
                   onclick="OpenModal($(this));">
                    <i class="fa fa-key"></i>
                    &nbsp;Change Password
                </a>
            </li>
            <!-- LOGOUT -->
            <li>
                <a class="dropdown-item" data-target="modal" asp-area="" asp-controller="Account" asp-action="Logout">
                    <i class="fa fa-sign-out-alt"></i>
                    &nbsp;Logout
                </a>
            </li>
            <!-- BACK AS ADMIN-->
            @if (User.FindFirstValue("RealRole").Equals("admin"))
            {
                <li>
                    <a class="dropdown-item" data-target="modal" asp-area="" asp-controller="Account" asp-action="BackAsAdmin">
                        <i class="fa fa-user-secret"></i>
                        &nbsp;Back as Admin
                    </a>
                </li>
            }
        </ul>
    </li>
</ul>