<div class="header" style="background-color:#2F4054;padding:10px;">
    <div class="container">
        <div class="pull-left">
            <span class="title-info">Welcome,</span> <span class="title-desc">Dr. DOH 7 IT  / ED Complex</span>
        </div>

        <div class="pull-right">
            <span class="title-desc">Vicente Sotto Memorial Medical Center</span>
        </div>
        <div class="clearfix"></div>
    </div>
</div>