<div class="modal fade" role="dialog" id="LoginNotif">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body"">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                <h3 style="font-weight: bold" class="text-success">WHAT'S NEW?</h3>
                <div class="alert alert-success" style="background-color: #dff0d8 !important;">
                    <p class="text-success">
                        <i class="fa fa-phone-square"></i> For further assistance, please message these following:
                    </p>
                    <ol type="I" style="color: #2f8030">
                        <li>
                            Technical
                            <ol type="A">
                                <li>
                                    Web
                                    <ul>
                                        <li>Rusel T. Tayong - 09238309990</li>
                                        <li>Christian Dave L. Tipactipac - 09286039028</li>
                                    </ul>
                                </li>
                                <li>
                                    Server - Can't access
                                    <ul>
                                        <li>Garizaldy B. Epistola - 09338161374</li>
                                        <li>Reyan M. Sugabo - 09359504269</li>
                                        <li>Ryan A. Padilla - 09294771871</li>
                                        <li>Gerwin D. Gorosin - 09436467174 or 09154512989</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>
                            Non - Technical
                            <ol type="A">
                                <li>
                                    <ul>
                                        <li class="text-danger">Ronadith Capala Arriesgado - 09952100815 Please reach via message only</li>
                                        <li class="text-danger">Andrei Bacalan - 09396071936 Please reach via message only</li>
                                        <li class="text-danger">Grace R. Flores - 09328596338 Please reach via message only</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <h3 class="text-center" style="color: #2f8030">Thank you! 😀</h3>
                    </ol>
                    <p></p>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>