<div class="modal fade" role="dialog" id="notif-modal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 style="font-weight: bold" class="text-success">Contact Person:</h3>
                <div>
                    <p class="text-success">
                        <i class="fa fa-phone-square"></i> For further assistance, please message these following:
                    </p><ol type="I" style="color: #2f8030">
                        <li>Technical</li>
                        <ol type="A">
                            <li>Web</li>
                            <ul>
                                <li>Rusel T. Tayong - 09238309990</li>
                                <li>Christian Dave L. Tipactipac - 09286039028</li>
                            </ul>
                            <li>Server - Can't access in web http://ro7sys.doh.gov.ph/doh/referral/login</li>
                            <ul>
                                <li>Garizaldy B. Epistola - 09338161374</li>
                                <li>Reyan M. Sugabo - 09359504269</li>
                                <li>Ryan A. Padilla - 09294771871</li>
                                <li>Gerwin D. Gorosin - 09436467174 or 09154512989</li>
                            </ul>
                        </ol>
                        <li>Non - Technical</li>
                        <ol type="A">
                            <ul>
                                <li class="text-danger">Ronadith Capala Arriesgado - 09952100815 Please reach via message only</li>
                                <li class="text-danger">Andrei Bacalan - 09396071936 Please reach via message only</li>
                                <li class="text-danger">Grace R. Flores - 09328596338 Please reach via message only</li>
                            </ul>
                        </ol>
                        <h3 class="text-center" style="color: #2f8030">Thank you! 😀</h3>
                    </ol>
                    <p></p>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>