@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h4>
                    Monthly Activity
                </h4>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="barChart" height="326" width="653" style="width: 523px; height: 261px;">
                        <div class="overlay d-flex justify-content-center align-items-center">
                            <i class="fas fa-2x fa-sync fa-spin"></i>
                        </div>
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <partial name="~/Views/Shared/PartialViews/_MainMenuPartial.cshtml" />
    </div>
</div>

<script src="~/assets/plugins/chart.js/Chart.js"></script>
<script>
    DashboardAPI('@User.FindFirstValue(ClaimTypes.Role)');
    $('#LoginNotif').modal('show');
</script>